@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
}
html{
  overflow-x: hidden;
  scroll-behavior: smooth;
  }
body{
  background: #fff;
  padding-top: 88px;
}
@media screen and (min-width:1024px) {
  body{
    padding-top: 0px;
  }
  
}
